@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Pretendard', sans-serif;
  }

  .card-shadow {
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.08);
  }

  .input-shadow {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
  }

  .button-shadow {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .modal-button-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  }
}
