@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus {
    outline: none;
  }

  body {
    font-family: 'Pretendard', sans-serif;
    font-synthesis: none;
  }

  .card-shadow {
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.08);
  }

  .input-shadow {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
  }

  .button-shadow {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .modal-button-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  }
  .user-Profile-img-shadow {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
}

@layer components {
  .primary-button {
    @apply bg-primary-1 text-white border border-primary-1 rounded-md;
    @apply hover:bg-primary-hover hover:border-primary-hover disabled:bg-gray-30 disabled:border-gray-30;
    @apply transition-colors duration-200;
  }

  .secondary-button {
    @apply bg-white text-primary-1 border border-primary-1 rounded-md;
    @apply hover:bg-white/50 disabled:bg-gray-30 disabled:text-white disabled:border-transparent;
    @apply transition-colors duration-200;
  }
}

@layer utilities {
  .dropdown-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  .dropdown-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  .dropdown-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-20;
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
  }
  .dropdown-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-4;
  }
  .swipe-container {
    @apply overflow-x-hidden;
  }

  .scroll-arrow {
    @apply absolute top-1/2 -translate-y-1/2 bg-[rgba(75,175,255,0.7)] text-white border-none rounded-full w-10 h-10 text-xl cursor-pointer z-10 transition-colors duration-300 ease-in-out;
  }

  .scroll-arrow:hover {
    @apply bg-[#4bafff];
  }

  .scroll-arrow img {
    @apply w-[45px] filter invert-[100%] sepia-0 saturate-0 hue-rotate-[93deg] brightness-[103%] contrast-[103%];
  }

  .left-arrow {
    @apply left-[-40px];
  }

  .right-arrow {
    @apply right-[-40px];
  }
}
