@import "./font.css";
@import "./tailwind.css";

/* index.css 또는 global.css */

:root {
  /* primary */
  --p-primary-color: #f1a140 !important;
  --p-primary-hover-color: #f6c085 !important;
  --p-primary-active-color: #fbe1c0 !important;
  /* highlight */
  --p-highlight-background: #f6c085 !important;
  --p-highlight-color: #1a1a1a !important;
  /* content */
  --p-content-hover-background: #fbe1c0 !important;
  /* list */
  --p-list-option-selected-focus-background: #fbe1c0 !important;
  --p-list-option-focus-background: #fbe1c0 !important;
  /* select */
  --p-select-option-selected-color: #1a1a1a !important;
  --p-select-option-selected-focus-color: #1a1a1a !important;
  /* outline-button */
  --p-button-outlined-primary-border-color: var(--p-primary-color) !important;
  --p-button-outlined-primary-hover-background: var(
    --p-primary-active-color
  ) !important;
  --p-button-outlined-primary-active-background: var(
    --p-primary-active-color
  ) !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0 solid;
  box-sizing: border-box;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕",
    "Malgun Gothic";
  @apply text-base;
  @apply text-black-1;
}

button {
  all: unset;
}

div,
textarea,
button {
  @apply border-black-4;
}

input,
textarea {
  @apply font-sans text-base;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  @apply transition-colors;
}

input:focus,
textarea:focus {
  @apply outline-none;
  @apply border-orange-1;
}

.p-button-icon-only {
  padding: 0 !important;
}
