@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .item-middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
